apiVersion: v1
kind: Service
metadata:
  name: jenkins
  labels:
    app: jenkins
spec:
  ports:
    - port: 8080
      name: jenkins-ui
    - port: 50000
      name: jenkins-jnpl
  selector:
    app: jenkins
  type: LoadBalancer

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: jenkins-home
  labels:
    type: local
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /var/jenkins_home

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jenkins-homevol-claim
  labels:
    app: jenkins
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: jenkins-logs
  labels:
    type: local
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /var/log/jenkins

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jenkins-logsvol-claim
  labels:
    app: jenkins
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi

---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: jenkins
  labels:
    app: jenkins
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: jenkins
    spec:
      securityContext:
        runAsUser: 10000
        fsGroup: 10000
      containers:
      - image: registry.lerkasan.de/jenkins-master:latest
        imagePullPolicy: IfNotPresent
        name: jenkins
        ports:
        - containerPort: 8080
          name: jenkins-ui
        - containerPort: 50000
          name: jenkins-jnpl
        volumeMounts:
        - name: jenkins-home
          mountPath: /var/jenkins_home
        - name: jenkins-logs
          mountPath: /var/log/jenkins
      volumes:
      - name: jenkins-home
        persistentVolumeClaim:
          claimName: jenkins-homevol-claim
      - name: jenkins-logs
        persistentVolumeClaim:
          claimName: jenkins-logsvol-claim
